@page
@model Solita2023Assignment.Pages.Journeys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Journey[0].DepartureTime)
            </th>
            <th>
                @*TODO: The NameFi column of the departure station displays just "Nimi", which is not clear when looking
                at journeys. Is there a better way to do this?*@
                Departure Station
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journey[0].ReturnTime)
            </th>
            <th>
                Return Station
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journey[0].DistanceMeters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journey[0].DurationSeconds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Journey) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                if (item.DepartureStation.NameFI is not null)
                {
                    @Html.DisplayFor(modelItem => item.DepartureStation.NameFI)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnStation.NameFI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceMeters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationSeconds)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
