@page
@model Solita2023Assignment.Pages.Journeys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Journey[0].DepartureStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journey[0].DepartureTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Journey[0].ArrivalStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journey[0].ArrivalTime)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.Journey[0].DistanceMeters)
            </th>*@
            <th>
                Distance (km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journey[0].DurationSeconds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Journey) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureStation.NameFI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ArrivalStation.NameFI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DistanceKilometers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationMinutesAndSeconds)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
